<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--   <div class="field">
     <%#= f.label :profile_cover_page %><br />
     <%#= f.file_field :profile_cover_page %>
  </div> -->
  <div class="field">
     <%= f.label :profile_photo %><br />
     <%= f.file_field :profile_photo %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  
<!--   <div class="field">
    <%#= f.label :password %><br>
    <%#= f.text_field :password %>
  </div> -->

  <div class="field">
    <%= f.label :snippet_title %><br>
    <%= f.text_field :snippet_title %>
  </div>
  <div class="field">
    <%= f.label :snippet_content %><br>
    <%= f.text_area :snippet_content %>
  </div>

<!--   <div class="field">
    <%# Story.all.each do |str| %>
    <%#= "user[story_ids][]", str.id, @user.story_ids.include?(str.id), id: "user#{str.id}" %>
     <label for="user<%#= str.title %>"> <%#= str.title %></label>
     <label for="user<%#= str.image %>"> <%#= str.image %></label>
     <label for="user<%#= str.content %>"> <%#= str.content %></label>
     <br />
    <%# end %> -->

<!--   <div class="field">
    <%# Story.all.each do |str| %>
    <%#= "user[story_ids][]", str.id, @user.story_ids.include?(str.id), id: "user#{str.id}" %>
     <label for="user<%#= str.content %>"> <%#= str.content %></label>
     <br />
    <%# end %> -->

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
