<!DOCTYPE html>
<html>
<head>
  <title>Profile Page</title>
</head>
<body id="profile-body" >

  <!-- Nav tabs -->
  <!-- <nav class="profile-navbar" role="navigation">
  <div class="navbar collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav nav-tabs nav navbar-nav" role="tablist">

      <li><a href="#Profile" aria-controls="Profile" role="tab" data-toggle="tab">Profile</a></li>
      <li><a href="#Stories" aria-controls="Stories" role="tab" data-toggle="tab">Stories</a></li>

    </ul>
  </div>
</nav> -->

<div class="box" || id="profile-container">

  <!-- #1 -->
  <div id="first">
    <!-- photo -->
    <%= link_to image_tag(@user.profile_photo.detail.url), @user.profile_photo.url, class: 'first' %>
    <!-- Name --> 
    <div id="name" class="intro text">
      <%= @user.name %> 
      <%= @user.email %> 
    </div>
  </div>


  <!-- #2 -->
  <div id="second">

      <div id="caption-container">
        <% if @user === current_user %>
          <%= link_to image_tag('plus.png'), new_story_path(current_user) %>
        <% end %>
        <h3 id="user-stories-caption"> <%= @user.name %>'s <Strong>Stories</Strong> <h3>
      </div>

      <% @user.stories.each do |story| %>

      <div class="profile-stories col-md-3 text-center">

        <%= link_to story do %>
        <%= image_tag story.image.detail.url, class: "storyboard-img" %>
        <p id="storyboard-storyTitle"><%= story.title %></p>
        <% end %>

        <%= link_to story.user do %>
        <h6 id="storyboard-storyAuthor"><%= story.user.username %></h6>
        <% end %>
      </div>

      <% end %>
    </div>


    <div id="clear"></div>
  </div>

</body>
</html>

