<p id="notice"><%= notice %></p>


<div class="banner clearfix">

  <button>Background</button>
  <button>Writings</button>
  <button>Contributions</button>

</div>


<p>
  <b>Cover Page:</b>
  <%= link_to image_tag(@user.profile_cover_page.thumb.url), @user.profile_cover_page.url %>
</p>

<p>
  <b>Profile Photo:</b>
  <%= link_to image_tag(@user.profile_photo.thumb.url), @user.profile_photo.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<!-- <p>
  <strong>Currently Working On:</strong>
  <%#= @user.currently_working_on %>
</p> -->

<!-- Don't need this? -->
<p>
  <strong>Stories:</strong>
  <% @user.stories.each do |story| %>
    <%= story.title %>

    <%= link_to 'Show story', story %>
    <% if current_user == @user %>
      <%= link_to 'Edit story', edit_story_path(story) %>
    <% end %>
  <% end %>
</p>

<div class="Snippet-container">
  <p >
    <strong>Snippet title:</strong>
    <%= @user.snippet_title %>
    <br>
    <br>
    <strong>Snippet content:</strong>
    <%= @user.snippet_content %>
  </p>
</div>
