<!DOCTYPE html>
<html>
<head>
  <title>Story Board</title>
</head>


<body class="str-brd-bdy">
  <h1 class="str-brd-hdn">Story Board</h1>

  <div>

            <% @stories.each do |story| %> 
            <%= link_to story do %>
            <%= image_tag story.image.detail.url, class: "img-rounded"%>
            <% end %> 

            <p class="brd-txt"><%= story.title %></p>
            <p class="brd-txt"><%= story.summary %></p>
            <p class="brd-txt"><%= story.user.name %></p>
            <% end %>
  </div>




</body>
</html>