<!DOCTYPE html>
<html>
<head>
  <title>Story Board</title>
</head>

<!-- Background image -->
<body class="storyboard-body">


  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">Story
          <strong>Board</strong>
        </h2>
        <hr>
      </div>
      <% @stories.each do |story| %> 

      <div class="col-sm-3 text-center">

        <%= link_to story do %>
        <%= image_tag story.image.detail.url, class: "storyboard-img" %>
        <p id="storyboard-storyTitle"><%= story.title %></p>
        <% end %>

        <%= link_to story.user do %>
        <h6 id="storyboard-storyAuthor"><%= story.user.username %></h6>
        <% end %>
      </div>
      <% end %>
      <!-- <div class="clearfix"></div> -->
      <!-- </div> -->
    </div>
  </div>
  
</body>
</html>
