<p id="notice"><%= notice %></p>

<h1>Story Board</h1>

<table>
  <thead>
    <tr>
      <th>Writer</th>
      <th>Image</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.user.username %></td>
        <td><%= image_tag story.image.detail.url %></td>
        <td><%= story.title %></td>
        <td><%= story.content %></td>

        <!-- Test code -->
        <%# @user = current_user %>

        <%# if current_user.id == @story.user_id %>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%# end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Story', new_story_path %>
