<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
    <%= link_to image_tag(@story.image.detail.url), @story.image.url %>
  </p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @story.content %>
</p>

<td><%= link_to 'Create', new_story_path(@story) %></td>
<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
