<body id="edit-story-body">
	<div class="box" || id="profile-container">

		<div id="first">
			<div id="photo-container">
				<div id="photo-div">
					<%= link_to image_tag(@story.image.detail.url), @story.image.url, class: 'first' %>
				</div>
			</div>
		</div>

		<div id="second">

			<div id="caption-container">
				<h3 id="user-stories-caption" class="story-title"><%= @story.title %></h3>

				<% if @story.user === current_user %>
				<div id="edit-story-button" class="btn btn-default btn-lg">
					<%= link_to 'Edit', edit_story_path(@story) %>
				</div>
				<% end %>
			</div>
			

			<div id="summary-container">
				<%= @story.summary %>
			</div>

			<div id="content-container">
				<%= @story.content %>
			</div>

		</div>

	</div>





	<%#= link_to 'Create', new_story_path(@story) %>
	
	<%= link_to 'Back', stories_path %>
</div>
</body>