<!DOCTYPE html>
<html>
<head>
  <title>Sign In</title>
</head>

<body class="welcome-body">

  <h1 class="welcome-Text1" > Welcome to Coffee Stains </h1>

  <div class='login'>

    <% if current_user %>
    <% else %>

    <div class="btn-group">

      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= link_to "Sign In", new_user_session_path %> <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">

        <li class="sign-in-menu-container">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Stain In" %>
          </div>
        <% end %>

        </li>

      </ul>

    </div>


    
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default" %>

    <% end %>

  </div>


</body>
</html>