<!DOCTYPE html>
<html>
<head>

  <title>Coffee Stains</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>






<body> 

  <% if current_user %>
    <div class="banner">

        <%= link_to image_tag("Logo.png", :alt => "Logo"), users_path, class: "main-logo" %>

      <button class="banner-buttons"><%= link_to "Story Board", stories_path %></button>
      <button class="banner-buttons"><%= link_to "Writers", users_path %></button>
      <button class="banner-buttons"><%= link_to "About Us", about_us_path %></button>

      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.username %> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "My Profile", user_path(current_user) %></li>
          <li><a href="#">My Writing Desk</a></li>

          <li role="separator" class="divider"></li>
          <%= link_to "Edit Profile", edit_user_path(current_user) %>

          <li role="separator" class="divider"></li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </ul>
      </div>
    </div>
    <% end %>



<ul class="nav nav-pills">
  ...
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> *Dropdown* <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      ...
    </ul>
  </li>
  ...
</ul>



<div class="nav nav-pills">
  <% if current_user %>

  <% else %>
     <%= link_to "Sign In", new_user_session_path %>
     <%= link_to "Sign Up", new_user_registration_path %>
  <% end %>
</div>


<%= yield %>

</body>
</html>