<!DOCTYPE html>
<html>
<head>

  <title>Coffee Stains</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>






<body> 

  <% if current_user %>
    <div class="banner clearfix">

      <button>Suggestions Board</button>
      <button>Story Board</button>
      <button>Writers</button>
      <button>Store</button>
      <button>About Us</button>

      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.username %> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">My Profile</a></li>
          <li><a href="#">My Writing Desk</a></li>

          <li role="separator" class="divider"></li>
          <%= link_to "Edit Profile", edit_user_path(current_user) %>

          <li role="separator" class="divider"></li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </ul>
      </div>

    </div>
    <% end %>

<!-- <%# flash.each do |name, message| %>
  <div class="flash-message flash-message-<%#= name %>">
    <%#= message %>
  </div>
<%# end %> -->



<!-- if current user(true = not empty)  -->
<div class='login'>
  <% if current_user %>

 <!-- Display <p> -->
      <!-- <button><%#= current_user.username %></button> -->

<!--  Ruby link Log out, which destroys -->
     <%#= link_to "Log out", destroy_user_session_path, method: :delete %>

  <% else %>
     <%= link_to "Sign In", new_user_session_path %>
     <%= link_to "Register", new_user_registration_path %>
  <% end %>
</div>


<%= yield %>

</body>
</html>