<!DOCTYPE html>
<html>
<head>

  <title></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- GLOBAL FONTS -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

</head>




<body> 

  <% if current_user %>

  <!-- Navigation Bar -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
        <a class="navbar-brand" href="index.html">Business Casual</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to "Story Board", stories_path %>
          </li>
          <li>
            <%= link_to "Writers", users_path %>
          </li>
          <li>
            <%= link_to "About Us", about_us_path %>
          </li>
          <li>
            <div id="username-link-div">
            <%= link_to current_user.username, user_path(current_user) %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  
  <%#= link_to "My Profile", user_path(current_user) %>
  <%= link_to "My Writing Desk", new_story_path(current_user) %>
  <%#= link_to "Edit Profile", edit_user_path(current_user) %>
  <%#= link_to "Log out", destroy_user_session_path, method: :delete %>

  <% end %>

  <%= yield %>

</body>
</html>